.content-container {
    color: var(--primary-color);
    width: 100%;
}

.content-container-title h2 {
    margin: 0 0 1.5rem;
    color: var(--secondary-color);
    font-size: 2.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.04em;
}

.content-container-text p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: justify;
}

.content-container-image img {
    width: 100%;
}
